#Watsonx
MODEL_ID=ibm/granite-3-3-8b-instruct
URL=https://us-south.ml.cloud.ibm.com
API_KEY=****YOUR_APIKEY****
PROJECT_ID=****YOUR_APIKEY****

#Mongo Connection
CONNECTION_STRING=****YOUR_MONGODB_STRING_CONNECTION****
COLLECTION=****YOUR_COLLECTION****